# INSERT screenshots and/or terminal output to demonstrate the process of activating the hadoop cluster
# then adding the files to HDFS

In [1]:
import pyspark

import findspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import to_date, col, substring
import re

import pandas as pd
import os

# os.environ['SPARK_HOME']

# os.environ['SPARK_HOME'] = '/opt/spark/'

print(os.environ['PATH'])

findspark.init('/opt/spark/')

spark = SparkSession.builder.appName('SparkExample').config('spark.driver.python', '/snap/jupyter/6/bin/python3').getOrCreate()

import sys

print(sys.executable)

print(sys.prefix)

/home/hduser/env/myenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/snap/bin:/usr/local/hadoop/bin:/bin:/usr/local/hadoop/sbin:/usr/local/hadoop/bin:/bin:/usr/local/hadoop/sbin:/opt/spark/bin:/usr/local/hadoop/bin:/bin:/usr/local/hadoop/sbin:/opt/spark/bin

23/09/14 08:46:07 WARN Utils: Your hostname, muhammad-VM resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/09/14 08:46:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/14 08:46:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/09/14 08:46:11 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/09/14 08:46:11 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

/home/hduser/env/myenv/bin/python
/home/hduser/env/myenv

In [2]:
dfs = spark.read.csv("hdfs://localhost:9000/transactions/*.csv", header=True, inferSchema=True)

In [3]:
dfs.show()

+---------+---------+------------+---------+--------+-----+----------+------------+------------+------------+------------+--------------+-----+-----+---------------+-----------+------------------------+-----------+-----------------------+----------+------------+------------+
|SHOP_WEEK|SHOP_DATE|SHOP_WEEKDAY|SHOP_HOUR|QUANTITY|SPEND| PROD_CODE|PROD_CODE_10|PROD_CODE_20|PROD_CODE_30|PROD_CODE_40|     CUST_CODE|seg_1|seg_2|      BASKET_ID|BASKET_SIZE|BASKET_PRICE_SENSITIVITY|BASKET_TYPE|BASKET_DOMINANT_MISSION|STORE_CODE|STORE_FORMAT|STORE_REGION|
+---------+---------+------------+---------+--------+-----+----------+------------+------------+------------+------------+--------------+-----+-----+---------------+-----------+------------------------+-----------+-----------------------+----------+------------+------------+
|   200643| 20061224|           1|       14|       1| 1.77|PRD0900008|     CL00042|    DEP00011|      G00004|      D00002|CUST0000096000|   AZ|   BU|994103700265943|          M|                      UM| Small Shop|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061218|           2|       19|       1| 1.05|PRD0900011|     CL00033|    DEP00008|      G00004|      D00002|CUST0000206560|   BG|   DI|994103700348637|          L|                      UM|  Full Shop|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061223|           7|       18|       3| 3.15|PRD0900011|     CL00033|    DEP00008|      G00004|      D00002|CUST0000017325|   CT|   AT|994103700207109|          L|                      MM|     Top Up|                  Fresh|STORE00001|          LS|         E02|
|   200643| 20061223|           7|       15|       1| 1.03|PRD0900015|     CL00015|    DEP00004|      G00003|      D00001|CUST0000871730|   BG| null|994103700845926|          L|                      UM|     Top Up|                  Fresh|STORE00001|          LS|         E02|
|   200643| 20061218|           2|       15|       3|13.26|PRD0900016|     CL00165|    DEP00055|      G00016|      D00003|CUST0000173993|   BG|   CZ|994103700324145|          L|                      MM|  Full Shop|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061219|           3|       12|       3|13.26|PRD0900016|     CL00165|    DEP00055|      G00016|      D00003|CUST0000540040|   CT|   AT|994103700597782|          L|                      MM|  Full Shop|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061219|           3|       15|       3|13.26|PRD0900016|     CL00165|    DEP00055|      G00016|      D00003|CUST0000017325|   CT|   AT|994103700207110|          L|                      MM|  Full Shop|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061218|           2|       15|       3| 2.55|PRD0900020|     CL00202|    DEP00067|      G00021|      D00005|CUST0000173993|   BG|   CZ|994103700324145|          L|                      MM|  Full Shop|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061224|           1|       19|       1| 0.85|PRD0900020|     CL00202|    DEP00067|      G00021|      D00005|          null| null| null|994103700017507|          L|                      MM|  Full Shop|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061223|           7|       15|       1| 0.52|PRD0900024|     CL00160|    DEP00054|      G00016|      D00003|CUST0000871730|   BG| null|994103700845926|          L|                      UM|     Top Up|                  Fresh|STORE00001|          LS|         E02|
|   200643| 20061222|           6|       12|       1| 0.52|PRD0900024|     CL00160|    DEP00054|      G00016|      D00003|CUST0000160899|   BG|   EQ|994103700314386|          L|                      MM|     Top Up|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061222|           6|        8|       3| 2.52|PRD0900034|     CL00129|    DEP00046|      G00013|      D00003|CUST0000534768|   AZ|   DI|994103700593728|          L|                      LA|  Full Shop|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061219|           3|       21|       1| 1.56|PRD0900049|     CL00160|    DEP00054|      G00016|      D00003|CUST0000436394|   AZ| null|994103700520900|          L|                      MM|  Full Shop|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061218|           2|       13|       1| 1.75|PRD0900058|     CL00020|    DEP00005|      G00003|      D00001|CUST0000344309|   CT|   AT|994103700451904|          L|                      UM|  Full Shop|                Grocery|STORE00001|          LS|         E02|
|   200643| 20061224|           1|       16|       1| 2.14|PRD0900063|     CL00185|    DEP00062|      G00018|      D00004|          null| null| null|994103700081186|          L|                      MM|     Top Up|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061222|           6|       15|       1| 1.09|PRD0900066|     CL00041|    DEP00011|      G00004|      D00002|CUST0000414514|   CT|   BU|994103700504485|          L|                      UM|  Full Shop|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061221|           5|        8|       1| 0.57|PRD0900069|     CL00134|    DEP00047|      G00013|      D00003|CUST0000622502|   AZ|   CZ|994103700659723|          L|                      MM|     Top Up|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061218|           2|       12|       1| 1.05|PRD0900077|     CL00150|    DEP00052|      G00015|      D00003|CUST0000710863|   AZ|   DI|994103700726239|          L|                      MM|  Full Shop|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061224|           1|       14|       1| 1.07|PRD0900079|     CL00157|    DEP00053|      G00016|      D00003|          null| null| null|994103700150926|          L|                      LA|     Top Up|                  Mixed|STORE00001|          LS|         E02|
|   200643| 20061221|           5|       16|       1| 0.57|PRD0900087|     CL00138|    DEP00048|      G00013|      D00003|CUST0000021218|   CT|   BU|994103700210032|          M|                      MM|     Top Up|                  Fresh|STORE00001|          LS|         E02|
+---------+---------+------------+---------+--------+-----+----------+------------+------------+------------+------------+--------------+-----+-----+---------------+-----------+------------------------+-----------+-----------------------+----------+------------+------------+
only showing top 20 rows

In [4]:
dfs.printSchema()

root
 |-- SHOP_WEEK: string (nullable = true)
 |-- SHOP_DATE: string (nullable = true)
 |-- SHOP_WEEKDAY: string (nullable = true)
 |-- SHOP_HOUR: string (nullable = true)
 |-- QUANTITY: string (nullable = true)
 |-- SPEND: string (nullable = true)
 |-- PROD_CODE: string (nullable = true)
 |-- PROD_CODE_10: string (nullable = true)
 |-- PROD_CODE_20: string (nullable = true)
 |-- PROD_CODE_30: string (nullable = true)
 |-- PROD_CODE_40: string (nullable = true)
 |-- CUST_CODE: string (nullable = true)
 |-- seg_1: string (nullable = true)
 |-- seg_2: string (nullable = true)
 |-- BASKET_ID: string (nullable = true)
 |-- BASKET_SIZE: string (nullable = true)
 |-- BASKET_PRICE_SENSITIVITY: string (nullable = true)
 |-- BASKET_TYPE: string (nullable = true)
 |-- BASKET_DOMINANT_MISSION: string (nullable = true)
 |-- STORE_CODE: string (nullable = true)
 |-- STORE_FORMAT: string (nullable = true)
 |-- STORE_REGION: string (nullable = true)

### Perform groupby operations to aggregate data by date for:
##### total spend by store code
##### total spend by store format
##### total spend by prod code / prod_code_10 / prod_code_20 etc - depending on the highest level of granularity during EDA

In [5]:
dfs.createOrReplaceTempView("STORE_DATA")

In [6]:
store_df = spark.sql("SELECT SHOP_DATE, STORE_CODE, SUM(QUANTITY) AS TOTAL_QTY, ROUND(SUM(SPEND), 2) AS TOTAL_SPEND FROM STORE_DATA GROUP BY SHOP_DATE, STORE_CODE")

In [7]:
store_df.show()

+---------+----------+---------+-----------+
|SHOP_DATE|STORE_CODE|TOTAL_QTY|TOTAL_SPEND|
+---------+----------+---------+-----------+
| 20061223|STORE00003|    215.0|     316.65|
| 20061219|STORE00113|    235.0|     340.55|
| 20061221|STORE00120|     21.0|      70.53|
| 20061224|STORE00227|     73.0|     164.17|
| 20061224|STORE00432|     86.0|     118.75|
| 20061219|STORE00494|     13.0|      10.78|
| 20061221|STORE00633|    144.0|     228.09|
| 20061221|STORE00639|    155.0|      178.8|
| 20061222|STORE01091|      9.0|      12.73|
| 20061220|STORE01215|    125.0|     202.03|
| 20061218|STORE01289|     36.0|      37.31|
| 20061222|STORE01330|     24.0|      22.07|
| 20061222|STORE01603|     21.0|       27.4|
| 20061224|STORE01651|    113.0|     137.57|
| 20061222|STORE01672|     41.0|      53.55|
| 20061221|STORE01707|    264.0|     350.76|
| 20061223|STORE01793|     23.0|      18.85|
| 20061223|STORE02524|    147.0|     200.77|
| 20061219|STORE02575|      8.0|      28.24|
| 20061220|STORE02619|    241.0|     316.43|
+---------+----------+---------+-----------+
only showing top 20 rows

In [8]:
store_format_df = spark.sql("SELECT SHOP_DATE, STORE_CODE, STORE_FORMAT, SUM(QUANTITY) AS TOTAL_QTY, ROUND(SUM(SPEND), 2) AS TOTAL_SPEND FROM STORE_DATA GROUP BY SHOP_DATE, STORE_CODE, STORE_FORMAT")

In [9]:
store_format_df.show()

+---------+----------+------------+---------+-----------+
|SHOP_DATE|STORE_CODE|STORE_FORMAT|TOTAL_QTY|TOTAL_SPEND|
+---------+----------+------------+---------+-----------+
| 20061218|STORE00107|          LS|     98.0|     153.96|
| 20061218|STORE00120|          MS|      8.0|      22.61|
| 20061218|STORE00422|          MS|     78.0|     147.67|
| 20061221|STORE00425|          MS|     63.0|     118.09|
| 20061221|STORE00460|          LS|    217.0|     317.46|
| 20061221|STORE00807|          LS|     66.0|      79.44|
| 20061222|STORE00840|          LS|    325.0|     487.22|
| 20061221|STORE00877|          LS|    290.0|     487.31|
| 20061223|STORE00895|          SS|      6.0|       8.73|
| 20061222|STORE00966|          MS|    145.0|     194.21|
| 20061218|STORE01035|          LS|     16.0|      16.61|
| 20061219|STORE01160|          LS|    108.0|     136.29|
| 20061224|STORE01298|          SS|     26.0|      26.28|
| 20061221|STORE01316|          LS|    245.0|     429.21|
| 20061221|STORE01501|          MS|     90.0|     113.72|
| 20061218|STORE01535|          SS|      3.0|       2.27|
| 20061220|STORE01650|          SS|     31.0|      81.67|
| 20061223|STORE01695|          LS|    224.0|     483.26|
| 20061219|STORE01984|          SS|      3.0|       2.21|
| 20061218|STORE02192|          SS|      5.0|       4.71|
+---------+----------+------------+---------+-----------+
only showing top 20 rows

In [10]:
prod_10_df = spark.sql("SELECT SHOP_DATE, STORE_CODE, PROD_CODE_10, SUM(QUANTITY) AS TOTAL_QTY, ROUND(SUM(SPEND), 2) AS TOTAL_SPEND FROM STORE_DATA GROUP BY SHOP_DATE, STORE_CODE, PROD_CODE_10")

In [11]:
prod_10_df.show()

+---------+----------+------------+---------+-----------+
|SHOP_DATE|STORE_CODE|PROD_CODE_10|TOTAL_QTY|TOTAL_SPEND|
+---------+----------+------------+---------+-----------+
| 20060410|STORE00001|     CL00012|      1.0|       0.01|
| 20060410|STORE00001|     CL00020|      5.0|        2.2|
| 20060410|STORE00001|     CL00201|      1.0|       0.81|
| 20060410|STORE00002|     CL00001|      2.0|       1.72|
| 20060410|STORE00003|     CL00023|      1.0|       1.93|
| 20060410|STORE00003|     CL00065|      1.0|       1.16|
| 20060410|STORE00003|     CL00074|      2.0|       5.22|
| 20060410|STORE00003|     CL00128|      1.0|       1.02|
| 20060410|STORE00003|     CL00135|      1.0|       0.16|
| 20060410|STORE00003|     CL00157|      2.0|       1.58|
| 20060410|STORE00003|     CL00161|      3.0|        3.3|
| 20060410|STORE00004|     CL00017|      1.0|       3.35|
| 20060410|STORE00004|     CL00043|      1.0|       0.97|
| 20060410|STORE00004|     CL00063|      6.0|       6.64|
| 20060410|STORE00004|     CL00070|      3.0|       0.84|
| 20060410|STORE00004|     CL00083|      3.0|       6.42|
| 20060410|STORE00004|     CL00128|      1.0|        0.9|
| 20060410|STORE00004|     CL00159|      2.0|       1.94|
| 20060410|STORE00006|     CL00068|      1.0|       2.19|
| 20060410|STORE00006|     CL00090|      3.0|       8.64|
+---------+----------+------------+---------+-----------+
only showing top 20 rows

In [12]:
prod_20_df = spark.sql("SELECT SHOP_DATE, STORE_CODE, PROD_CODE_20, SUM(QUANTITY) AS TOTAL_QTY, ROUND(SUM(SPEND), 2) AS TOTAL_SPEND FROM STORE_DATA GROUP BY SHOP_DATE, STORE_CODE, PROD_CODE_20")

In [13]:
prod_20_df.show()

+---------+----------+------------+---------+-----------+
|SHOP_DATE|STORE_CODE|PROD_CODE_20|TOTAL_QTY|TOTAL_SPEND|
+---------+----------+------------+---------+-----------+
| 20060410|STORE00001|    DEP00003|      1.0|       0.01|
| 20060410|STORE00001|    DEP00005|      5.0|        2.2|
| 20060410|STORE00001|    DEP00025|      3.0|       2.61|
| 20060410|STORE00001|    DEP00051|      3.0|       3.97|
| 20060410|STORE00001|    DEP00067|      1.0|       0.81|
| 20060410|STORE00001|    DEP00070|      1.0|       0.67|
| 20060410|STORE00002|    DEP00008|      2.0|       2.21|
| 20060410|STORE00002|    DEP00011|      1.0|        0.4|
| 20060410|STORE00003|    DEP00008|     13.0|      17.66|
| 20060410|STORE00003|    DEP00016|      1.0|       5.14|
| 20060410|STORE00003|    DEP00021|     11.0|      16.59|
| 20060410|STORE00003|    DEP00025|      4.0|       4.83|
| 20060410|STORE00003|    DEP00069|      1.0|       1.87|
| 20060410|STORE00003|    DEP00073|      3.0|       1.87|
| 20060410|STORE00003|    DEP00083|      1.0|       6.26|
| 20060410|STORE00004|    DEP00008|      4.0|       5.88|
| 20060410|STORE00004|    DEP00010|      1.0|       0.43|
| 20060410|STORE00004|    DEP00013|      2.0|      20.99|
| 20060410|STORE00004|    DEP00021|      3.0|       5.21|
| 20060410|STORE00004|    DEP00022|      4.0|       4.62|
+---------+----------+------------+---------+-----------+
only showing top 20 rows

In [14]:
prod_30_df = spark.sql("SELECT SHOP_DATE, STORE_CODE, PROD_CODE_30, SUM(QUANTITY) AS TOTAL_QTY, ROUND(SUM(SPEND), 2) AS TOTAL_SPEND FROM STORE_DATA GROUP BY SHOP_DATE, STORE_CODE, PROD_CODE_30")

In [15]:
prod_30_df.show()

+---------+----------+------------+---------+-----------+
|SHOP_DATE|STORE_CODE|PROD_CODE_30|TOTAL_QTY|TOTAL_SPEND|
+---------+----------+------------+---------+-----------+
| 20060410|STORE00001|      G00002|      1.0|       0.01|
| 20060410|STORE00001|      G00003|      5.0|        2.2|
| 20060410|STORE00001|      G00006|      1.0|       2.58|
| 20060410|STORE00001|      G00010|      3.0|       1.02|
| 20060410|STORE00001|      G00015|      4.0|       5.26|
| 20060410|STORE00002|      G00003|      1.0|       2.05|
| 20060410|STORE00002|      G00011|      1.0|       0.41|
| 20060410|STORE00002|      G00016|      3.0|       3.64|
| 20060410|STORE00002|      G00021|      1.0|        1.4|
| 20060410|STORE00002|      G00023|      1.0|       0.31|
| 20060410|STORE00003|      G00002|      2.0|       2.11|
| 20060410|STORE00003|      G00003|      2.0|        2.2|
| 20060410|STORE00003|      G00004|     20.0|      23.56|
| 20060410|STORE00003|      G00007|     47.0|      67.46|
| 20060410|STORE00003|      G00013|      2.0|       1.18|
| 20060410|STORE00003|      G00015|      4.0|       5.89|
| 20060410|STORE00004|      G00003|      1.0|       3.35|
| 20060410|STORE00004|      G00004|      8.0|       8.69|
| 20060410|STORE00004|      G00008|      1.0|       0.87|
| 20060410|STORE00004|      G00015|      1.0|       0.93|
+---------+----------+------------+---------+-----------+
only showing top 20 rows

In [16]:
prod_40_df = spark.sql("SELECT SHOP_DATE, STORE_CODE, PROD_CODE_40, SUM(QUANTITY) AS TOTAL_QTY, ROUND(SUM(SPEND), 2) AS TOTAL_SPEND FROM STORE_DATA GROUP BY SHOP_DATE, STORE_CODE, PROD_CODE_40")

In [17]:
prod_40_df.show()

+---------+----------+------------+---------+-----------+
|SHOP_DATE|STORE_CODE|PROD_CODE_40|TOTAL_QTY|TOTAL_SPEND|
+---------+----------+------------+---------+-----------+
| 20061219|STORE00027|      D00002|     40.0|      58.04|
| 20061218|STORE00030|      D00001|      7.0|       8.51|
| 20061221|STORE00065|      D00004|      4.0|       7.92|
| 20061218|STORE00327|      D00002|     39.0|      59.88|
| 20061222|STORE00327|      D00002|     52.0|      77.29|
| 20061219|STORE00337|      D00001|      4.0|       4.88|
| 20061223|STORE00352|      D00003|      7.0|       5.06|
| 20061218|STORE00377|      D00002|     84.0|     114.26|
| 20061224|STORE00377|      D00004|      2.0|       4.18|
| 20061219|STORE00468|      D00001|      2.0|       2.25|
| 20061218|STORE00500|      D00009|      1.0|       1.35|
| 20061223|STORE00508|      D00001|      5.0|       2.16|
| 20061224|STORE00560|      D00003|     16.0|       11.8|
| 20061219|STORE00574|      D00001|     23.0|      16.83|
| 20061223|STORE00611|      D00002|     64.0|      86.44|
| 20061224|STORE00616|      D00003|     27.0|      19.29|
| 20061220|STORE00625|      D00001|      9.0|       5.01|
| 20061224|STORE00667|      D00008|      9.0|       63.0|
| 20061224|STORE00673|      D00001|      5.0|       7.55|
| 20061218|STORE00704|      D00001|      4.0|        4.3|
+---------+----------+------------+---------+-----------+
only showing top 20 rows

In [18]:
prod_40_df.printSchema()

root
 |-- SHOP_DATE: string (nullable = true)
 |-- STORE_CODE: string (nullable = true)
 |-- PROD_CODE_40: string (nullable = true)
 |-- TOTAL_QTY: double (nullable = true)
 |-- TOTAL_SPEND: double (nullable = true)

## Find the estimated size of each of the dataframes

In [19]:
def estimate_df_memory_usage(df):
    sample = df.sample(fraction=0.01)
    pdf = sample.toPandas()
    print(pdf.info())

In [20]:
estimate_df_memory_usage(store_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6075 entries, 0 to 6074
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SHOP_DATE    6075 non-null   object
 1   STORE_CODE   6075 non-null   object
 2   TOTAL_QTY    6075 non-null   float64
 3   TOTAL_SPEND  6075 non-null   float64
dtypes: float64(2), object(2)
memory usage: 190.0+ KB
None

### Estimated df size = 189.4 kb * 100 = 18.9MB

In [21]:
estimate_df_memory_usage(store_format_df)

ERROR:root:KeyboardInterrupt while sending command.               (20 + 2) / 39]
Traceback (most recent call last):
  File "/home/hduser/env/myenv/lib/python3.10/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/hduser/env/myenv/lib/python3.10/site-packages/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "/usr/lib/python3.10/socket.py", line 705, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt:

### Estimated df size = 235kb * 100 = 23.5MB

In [ ]:
estimate_df_memory_usage(prod_10_df)

### Estimated df size = 8.1MB * 100 = 810MB

In [ ]:
estimate_df_memory_usage(prod_20_df)

### Estimated df size = 5.2MB * 100 = 520MB

In [ ]:
estimate_df_memory_usage(prod_30_df)

### Estimated df size = 3MB * 100 = 300MB

In [ ]:
estimate_df_memory_usage(prod_40_df)

### Estimated df size = 1.1MB * 100 = 110MB

# Convert string fields to numeric by extracting the numeric values only

In [23]:
def extract_and_convert_to_numeric(code):
    numeric_part = re.search(r'\d+$', code).group()
    return int(numeric_part)

In [24]:
def convert_string_col_to_date(df, cols):
    for col_name in cols:
        df_date = df.withColumn(col_name, to_date(col(col_name), "yyyyMMdd"))
    return df_date

In [25]:
# Register the UDF for use with the dataframe
extract_and_convert_to_numeric_udf = udf(extract_and_convert_to_numeric, IntegerType())

In [26]:
def convert_string_col_to_int(df, cols):
    for col_name in cols:
        df = df.withColumn(col_name, extract_and_convert_to_numeric_udf(df[col_name]))
        # df_int.drop(col_name)
    return df

In [27]:
store_df_int = convert_string_col_to_int(store_df, ["STORE_CODE"])
store_df_final = convert_string_col_to_date(store_df_int, ["SHOP_DATE"])

In [28]:
store_df_int.printSchema()

root
 |-- SHOP_DATE: string (nullable = true)
 |-- STORE_CODE: integer (nullable = true)
 |-- TOTAL_QTY: double (nullable = true)
 |-- TOTAL_SPEND: double (nullable = true)

In [29]:
store_df_final.printSchema()

root
 |-- SHOP_DATE: date (nullable = true)
 |-- STORE_CODE: integer (nullable = true)
 |-- TOTAL_QTY: double (nullable = true)
 |-- TOTAL_SPEND: double (nullable = true)

In [30]:
store_df_final.show()

+----------+----------+---------+-----------+
| SHOP_DATE|STORE_CODE|TOTAL_QTY|TOTAL_SPEND|
+----------+----------+---------+-----------+
|2006-12-23|         3|    215.0|     316.65|
|2006-12-19|       113|    235.0|     340.55|
|2006-12-21|       120|     21.0|      70.53|
|2006-12-24|       227|     73.0|     164.17|
|2006-12-24|       432|     86.0|     118.75|
|2006-12-19|       494|     13.0|      10.78|
|2006-12-21|       633|    144.0|     228.09|
|2006-12-21|       639|    155.0|      178.8|
|2006-12-22|      1091|      9.0|      12.73|
|2006-12-20|      1215|    125.0|     202.03|
|2006-12-18|      1289|     36.0|      37.31|
|2006-12-22|      1330|     24.0|      22.07|
|2006-12-22|      1603|     21.0|       27.4|
|2006-12-24|      1651|    113.0|     137.57|
|2006-12-22|      1672|     41.0|      53.55|
|2006-12-21|      1707|    264.0|     350.76|
|2006-12-23|      1793|     23.0|      18.85|
|2006-12-23|      2524|    147.0|     200.77|
|2006-12-19|      2575|      8.0|      28.24|
|2006-12-20|      2619|    241.0|     316.43|
+----------+----------+---------+-----------+
only showing top 20 rows

In [31]:
store_format_df_int = convert_string_col_to_int(store_format_df, ["STORE_CODE"])
store_format_df_final = convert_string_col_to_date(store_format_df_int, ["SHOP_DATE"])

In [32]:
store_format_df_final.printSchema()

root
 |-- SHOP_DATE: date (nullable = true)
 |-- STORE_CODE: integer (nullable = true)
 |-- STORE_FORMAT: string (nullable = true)
 |-- TOTAL_QTY: double (nullable = true)
 |-- TOTAL_SPEND: double (nullable = true)

In [44]:
store_format_df_final.select("STORE_FORMAT").distinct().count()

4

In [33]:
prod_10_df.printSchema()

root
 |-- SHOP_DATE: string (nullable = true)
 |-- STORE_CODE: string (nullable = true)
 |-- PROD_CODE_10: string (nullable = true)
 |-- TOTAL_QTY: double (nullable = true)
 |-- TOTAL_SPEND: double (nullable = true)

In [34]:
# Extract the prefixes from PROD_CODE_10
prod_10_df = prod_10_df.withColumn("Prefix", substring(col("PROD_CODE_10"), 1, 1))
prod_10_df.select("Prefix").distinct().show()

Exception in thread "serve-DataFrame" java.net.SocketTimeoutException: Accept timed out
	at java.net.PlainSocketImpl.socketAccept(Native Method)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:409)
	at java.net.ServerSocket.implAccept(ServerSocket.java:560)
	at java.net.ServerSocket.accept(ServerSocket.java:528)
	at org.apache.spark.security.SocketAuthServer$$anon$1.run(SocketAuthServer.scala:65)

+------+
|Prefix|
+------+
|     C|
+------+

There is a single prefix for prod_code_10 so we can remove this and store as int without
the risk of aggregating on common numeric portions of prod_code_10

In [35]:
prod_10_df_int = convert_string_col_to_int(prod_10_df, ["STORE_CODE", "PROD_CODE_10"])
prod_10_df_final = convert_string_col_to_date(prod_10_df_int, ["SHOP_DATE"])
prod_10_df_final = prod_10_df_final.drop("Prefix")
prod_10_df_final.show()
prod_10_df_final.printSchema()

+----------+----------+------------+---------+-----------+
| SHOP_DATE|STORE_CODE|PROD_CODE_10|TOTAL_QTY|TOTAL_SPEND|
+----------+----------+------------+---------+-----------+
|2006-04-10|         1|          12|      1.0|       0.01|
|2006-04-10|         1|          20|      5.0|        2.2|
|2006-04-10|         1|         201|      1.0|       0.81|
|2006-04-10|         2|           1|      2.0|       1.72|
|2006-04-10|         3|          23|      1.0|       1.93|
|2006-04-10|         3|          65|      1.0|       1.16|
|2006-04-10|         3|          74|      2.0|       5.22|
|2006-04-10|         3|         128|      1.0|       1.02|
|2006-04-10|         3|         135|      1.0|       0.16|
|2006-04-10|         3|         157|      2.0|       1.58|
|2006-04-10|         3|         161|      3.0|        3.3|
|2006-04-10|         4|          17|      1.0|       3.35|
|2006-04-10|         4|          43|      1.0|       0.97|
|2006-04-10|         4|          63|      6.0|       6.64|
|2006-04-10|         4|          70|      3.0|       0.84|
|2006-04-10|         4|          83|      3.0|       6.42|
|2006-04-10|         4|         128|      1.0|        0.9|
|2006-04-10|         4|         159|      2.0|       1.94|
|2006-04-10|         6|          68|      1.0|       2.19|
|2006-04-10|         6|          90|      3.0|       8.64|
+----------+----------+------------+---------+-----------+
only showing top 20 rows

root
 |-- SHOP_DATE: date (nullable = true)
 |-- STORE_CODE: integer (nullable = true)
 |-- PROD_CODE_10: integer (nullable = true)
 |-- TOTAL_QTY: double (nullable = true)
 |-- TOTAL_SPEND: double (nullable = true)

In [36]:
# Extract the prefixes from PROD_CODE_20
prod_20_df = prod_20_df.withColumn("Prefix", substring(col("PROD_CODE_20"), 1, 3))
prod_20_df.select("Prefix").distinct().show()

+------+
|Prefix|
+------+
|   DEP|
+------+

In [37]:
prod_20_df_int = convert_string_col_to_int(prod_20_df, ["STORE_CODE", "PROD_CODE_20"])
prod_20_df_final = convert_string_col_to_date(prod_20_df_int, ["SHOP_DATE"])
prod_20_df_final = prod_20_df_final.drop("Prefix")
prod_20_df_final.show()
prod_20_df_final.printSchema()

+----------+----------+------------+---------+-----------+
| SHOP_DATE|STORE_CODE|PROD_CODE_20|TOTAL_QTY|TOTAL_SPEND|
+----------+----------+------------+---------+-----------+
|2006-04-10|         1|           3|      1.0|       0.01|
|2006-04-10|         1|           5|      5.0|        2.2|
|2006-04-10|         1|          25|      3.0|       2.61|
|2006-04-10|         1|          51|      3.0|       3.97|
|2006-04-10|         1|          67|      1.0|       0.81|
|2006-04-10|         1|          70|      1.0|       0.67|
|2006-04-10|         2|           8|      2.0|       2.21|
|2006-04-10|         2|          11|      1.0|        0.4|
|2006-04-10|         3|           8|     13.0|      17.66|
|2006-04-10|         3|          16|      1.0|       5.14|
|2006-04-10|         3|          21|     11.0|      16.59|
|2006-04-10|         3|          25|      4.0|       4.83|
|2006-04-10|         3|          69|      1.0|       1.87|
|2006-04-10|         3|          73|      3.0|       1.87|
|2006-04-10|         3|          83|      1.0|       6.26|
|2006-04-10|         4|           8|      4.0|       5.88|
|2006-04-10|         4|          10|      1.0|       0.43|
|2006-04-10|         4|          13|      2.0|      20.99|
|2006-04-10|         4|          21|      3.0|       5.21|
|2006-04-10|         4|          22|      4.0|       4.62|
+----------+----------+------------+---------+-----------+
only showing top 20 rows

root
 |-- SHOP_DATE: date (nullable = true)
 |-- STORE_CODE: integer (nullable = true)
 |-- PROD_CODE_20: integer (nullable = true)
 |-- TOTAL_QTY: double (nullable = true)
 |-- TOTAL_SPEND: double (nullable = true)

In [38]:
# Extract the prefixes from PROD_CODE_30
prod_30_df = prod_30_df.withColumn("Prefix", substring(col("PROD_CODE_30"), 1, 1))
prod_30_df.select("Prefix").distinct().show()

+------+
|Prefix|
+------+
|     G|
+------+

In [39]:
prod_30_df_int = convert_string_col_to_int(prod_30_df, ["STORE_CODE", "PROD_CODE_30"])
prod_30_df_final = convert_string_col_to_date(prod_30_df_int, ["SHOP_DATE"])
prod_30_df_final = prod_30_df_final.drop("Prefix")
prod_30_df_final.show()
prod_30_df_final.printSchema()

+----------+----------+------------+---------+-----------+
| SHOP_DATE|STORE_CODE|PROD_CODE_30|TOTAL_QTY|TOTAL_SPEND|
+----------+----------+------------+---------+-----------+
|2006-04-10|         1|           2|      1.0|       0.01|
|2006-04-10|         1|           3|      5.0|        2.2|
|2006-04-10|         1|           6|      1.0|       2.58|
|2006-04-10|         1|          10|      3.0|       1.02|
|2006-04-10|         1|          15|      4.0|       5.26|
|2006-04-10|         2|           3|      1.0|       2.05|
|2006-04-10|         2|          11|      1.0|       0.41|
|2006-04-10|         2|          16|      3.0|       3.64|
|2006-04-10|         2|          21|      1.0|        1.4|
|2006-04-10|         2|          23|      1.0|       0.31|
|2006-04-10|         3|           2|      2.0|       2.11|
|2006-04-10|         3|           3|      2.0|        2.2|
|2006-04-10|         3|           4|     20.0|      23.56|
|2006-04-10|         3|           7|     47.0|      67.46|
|2006-04-10|         3|          13|      2.0|       1.18|
|2006-04-10|         3|          15|      4.0|       5.89|
|2006-04-10|         4|           3|      1.0|       3.35|
|2006-04-10|         4|           4|      8.0|       8.69|
|2006-04-10|         4|           8|      1.0|       0.87|
|2006-04-10|         4|          15|      1.0|       0.93|
+----------+----------+------------+---------+-----------+
only showing top 20 rows

root
 |-- SHOP_DATE: date (nullable = true)
 |-- STORE_CODE: integer (nullable = true)
 |-- PROD_CODE_30: integer (nullable = true)
 |-- TOTAL_QTY: double (nullable = true)
 |-- TOTAL_SPEND: double (nullable = true)

In [40]:
# Extract the prefixes from PROD_CODE_30
prod_40_df = prod_40_df.withColumn("Prefix", substring(col("PROD_CODE_40"), 1, 1))
prod_40_df.select("Prefix").distinct().show()

+------+
|Prefix|
+------+
|     D|
+------+

In [41]:
prod_40_df_int = convert_string_col_to_int(prod_40_df, ["STORE_CODE", "PROD_CODE_40"])
prod_40_df_final = convert_string_col_to_date(prod_40_df_int, ["SHOP_DATE"])
prod_40_df_final = prod_40_df_final.drop("Prefix")
prod_40_df_final.show()
prod_40_df_final.printSchema()

+----------+----------+------------+---------+-----------+
| SHOP_DATE|STORE_CODE|PROD_CODE_40|TOTAL_QTY|TOTAL_SPEND|
+----------+----------+------------+---------+-----------+
|2006-12-19|        27|           2|     40.0|      58.04|
|2006-12-18|        30|           1|      7.0|       8.51|
|2006-12-21|        65|           4|      4.0|       7.92|
|2006-12-18|       327|           2|     39.0|      59.88|
|2006-12-22|       327|           2|     52.0|      77.29|
|2006-12-19|       337|           1|      4.0|       4.88|
|2006-12-23|       352|           3|      7.0|       5.06|
|2006-12-18|       377|           2|     84.0|     114.26|
|2006-12-24|       377|           4|      2.0|       4.18|
|2006-12-19|       468|           1|      2.0|       2.25|
|2006-12-18|       500|           9|      1.0|       1.35|
|2006-12-23|       508|           1|      5.0|       2.16|
|2006-12-24|       560|           3|     16.0|       11.8|
|2006-12-19|       574|           1|     23.0|      16.83|
|2006-12-23|       611|           2|     64.0|      86.44|
|2006-12-24|       616|           3|     27.0|      19.29|
|2006-12-20|       625|           1|      9.0|       5.01|
|2006-12-24|       667|           8|      9.0|       63.0|
|2006-12-24|       673|           1|      5.0|       7.55|
|2006-12-18|       704|           1|      4.0|        4.3|
+----------+----------+------------+---------+-----------+
only showing top 20 rows

root
 |-- SHOP_DATE: date (nullable = true)
 |-- STORE_CODE: integer (nullable = true)
 |-- PROD_CODE_40: integer (nullable = true)
 |-- TOTAL_QTY: double (nullable = true)
 |-- TOTAL_SPEND: double (nullable = true)

In [43]:
prod_40_df_final.select("PROD_CODE_40").distinct().count()b

9

In [46]:
store_format_df_final.createOrReplaceTempView("STORE_FORMAT_DATA")

In [48]:
store_format_df_agg = spark.sql("SELECT SHOP_DATE, STORE_FORMAT, SUM(TOTAL_QTY) AS TOTAL_QTY, ROUND(SUM(TOTAL_SPEND), 2) AS TOTAL_SPEND FROM STORE_FORMAT_DATA GROUP BY SHOP_DATE, STORE_FORMAT")

In [49]:
store_format_df_agg.printSchema()

root
 |-- SHOP_DATE: date (nullable = true)
 |-- STORE_FORMAT: string (nullable = true)
 |-- TOTAL_QTY: double (nullable = true)
 |-- TOTAL_SPEND: double (nullable = true)

In [50]:
store_format_df_agg.show()

+----------+------------+---------+-----------+
| SHOP_DATE|STORE_FORMAT|TOTAL_QTY|TOTAL_SPEND|
+----------+------------+---------+-----------+
|2007-08-31|          MS|  13711.0|   16807.61|
|2007-08-29|          SS|   5023.0|    5868.81|
|2007-03-02|          LS|  39974.0|   49780.98|
|2007-04-22|          MS|  13154.0|   15747.25|
|2007-06-09|          MS|  12476.0|   15635.42|
|2008-07-05|         XLS|   5499.0|    6929.79|
|2008-06-09|          SS|   4272.0|    5131.97|
|2007-04-05|          LS|  36783.0|   47767.08|
|2007-04-05|          SS|   3711.0|    4599.49|
|2007-02-24|         XLS|   5288.0|    6753.42|
|2006-06-17|         XLS|   4660.0|    6294.41|
|2007-08-14|          MS|  12126.0|   14373.81|
|2007-09-21|          SS|   4289.0|    5050.13|
|2006-10-20|          MS|  11456.0|   14161.85|
|2006-10-10|          SS|   3039.0|    3426.32|
|2006-08-15|          SS|   3579.0|     4264.1|
|2006-08-11|          MS|  10874.0|   13729.17|
|2007-10-14|          SS|   3995.0|    4473.16|
|2007-01-04|         XLS|   4432.0|    5763.44|
|2006-12-10|          MS|  11744.0|   15935.69|
+----------+------------+---------+-----------+
only showing top 20 rows

In [53]:
store_format_df_agg.write.parquet("hdfs://localhost:9000/transactions/store_format_agg.parquet")

### Explore EDA capabilities of pyspark - is it better to use pandas on the data directly?
### How useful is spark for feature engineering vs python?
### Is it better to build NN in spark (does spark support keras/tensorflow) or in python?